<title>Error</title>
<link rel="stylesheet" href="/css/styles.css">

{{>headers}}
<div style="width: 100%; height: 200px; text-align: center;">
    <h1 style="margin-top: 10%;">Error: {{error}}</h1>
</div>

{{>footer}}
