<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    {{!-- to use headers page, use '>' then the page name w/o extension --}}
    {{>headers}}            
    This is the help page. {{name}} is here to help.

    {{>footer}}
</body>
</html>